<md-card>
  <md-card-header>
    <md-card-title><h3>Tasks:</h3></md-card-title>
    <md-card-subtitle>Total: {{totalShown}}</md-card-subtitle>
  </md-card-header>
  <div class="flex" *ngFor="let taskGroup of groupedTasks$ | async">
    <md-card *ngFor="let task of taskGroup" class="flex-grow m-03">
      <md-checkbox [checked]="task.done"
                   (change)="onToggle(task)">
        {{task.title}}
      </md-checkbox>
      <p md-line> {{task.description}} </p>
      <p md-line class="capitalize reduce"> by: {{task.user}} </p>
    </md-card>
  </div>
</md-card>

