<div class="wrapper">
  <md-list>
    <h3 md-subheader>Active</h3>
    <md-list-item *ngFor="let task of activeTasks$ | async">
      <h4 md-line>
        <md-checkbox [checked]="task.done"
                     (change)="onToggle(task)">
          {{task.title}}
        </md-checkbox>
      </h4>
      <p md-line> {{task.description}} </p>
    </md-list-item>

    <md-divider></md-divider>

    <h3 md-subheader>Done</h3>
    <md-list-item *ngFor="let task of doneTasks$ | async">
      <h4 md-line>{{task.title}}</h4>
      <p md-line> {{task.description}} </p>
    </md-list-item>
  </md-list>
</div>
